<!DOCTYPE html>
<html>
  <head>
    <title>Cadastro de Animatronics</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        function getEspecie() {      
          $.ajax({
            url: "/especies/json",
            type: "GET",                  
            dataType: "json",              
            success: function (res) {      
              $("#especie").html("<option selected>(Informe)</option>");
              $.each(res.resultado, function (key, value) {
                $("#especie").append(               
                  "<option value=" + value.idEspecie + ">" + value.especie + "</option>"
                );
              });
            },
          });
        }

        function getFuncao() {      
            $.ajax({
              url: "/funcoes/json",
              type: "GET",                  
              dataType: "json",              
              success: function (res) {      
                $("#funcao").html("<option selected>(Informe)</option>");
                $.each(res.resultado, function (key, value) {
                  $("#funcao").append(               
                    "<option value=" + value.idFuncao + ">" + value.funcao + "</option>"
                  );
                });
              },
            });
          }

        getFuncao();
        getEspecie();
      });
      
    </script>
  </head>

  <body>

    <h2>Cadastro de Animatronics</h2>
    <form method="post" action="/animatronics/cadastrar">
      <div class="mb-3" >
        <label for="animatronic" class="form-label">Nome</label>
        <input type="text" class="form-control" id="animatronic" name="animatronic" placeholder="Nome do Animatronic" required>
      </div>
    
      <div class="mb-3">
        <label for="especie" class="form-label">Escolha a espécie do Animatronic</label>
        <select class="form-control" id="especie" name="especie" required>
          <option selected>(Informe)</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="funcao" class="form-label">Escolha a Função do animatronic</label>
        <select class="form-control" id="funcao" name="funcao"  required>
          <option selected>(Informe)</option>
        </select>
      </div>

      <div class="col-6">
        <a href="http://localhost:3000/animatronics/listar"><button type="button" class="btn btn-danger">Voltar</button></a>
        <button type="submit" class="btn btn-success">Registrar</button>
      </div>
  </form>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>