<!DOCTYPE html>
<html>

<head>
  <title>Lista de função</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    function excluir(idFuncao){
      Swal.fire({
        title: 'Exclusão de Função',
        text: "Deseja realmente excluir esta Função?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sim'
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: "/funcoes/delete/" + idFuncao,
            type: "DELETE",
            success: function (res) {
              $(location).attr('href', '/funcoes/listar');
            },
          });
        }
      })
    }
  </script> 
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-md">
      <nav class="nav">
        <a class="nav-link" href="http://localhost:3000/avaliacoes/listar">Avaliações</a>
        <a class="nav-link" href="http://localhost:3000/animatronics/listar">Animatronics</a>
        <a class="nav-link" href="http://localhost:3000/clientes/listar">Clientes</a>
        <a class="nav-link" href="http://localhost:3000/especies/listar">Espécies</a>
        <a class="nav-link" href="http://localhost:3000/funcoes/listar">Funções</a>
      </nav>
    </div>
  </nav>

  <h2>Lista de função</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Função</th>
        <th scope="col">Operação</th>
      </tr>
    </thead>
    <tbody>
      <% for (item of resultado) {%>
        <tr>
          <td scope="row">
            <%= item.idFuncao%>
          </td>
          <td scope="row">
            <%= item.funcao%>
          </td>
          <td scope="row">
            <button type="button" class="btn btn-danger" onclick = "excluir(<%= item.idFuncao%>);">Excluir</button>
          </td>
        </tr>
      <%}%>
    </tbody>
  </table>

  <a href="http://localhost:3000/funcoes/cadastrar"><button type="button" class="btn btn-success">Inserir Função</button></a>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
</body>

</html>